.App {
  text-align: center;
}

.trivia-container {
  width: 50%;
  height: 35rem;
  background-color: red;
  margin: 6rem auto;
}

button {
  margin: 0;
  padding: 1rem 1rem;
}

.answers-container {
  transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
}

.fadeOut {
  opacity: 0;
  transition: opacity 0.5s;
  z-index: -1;
}

.score-container {
  display: flex;
  justify-content: space-around;
}

.correct-answer {
  position: absolute;
  top: 16rem;
  width: 50%;
  height: 15rem;
  background-color: blue;
  text-align: center;
  padding-top: 6rem;
  transition: opacity 0.5s;
}

/* FLIPPING STUFF*/

.answers {
  perspective: 600px;
}

.flipcard {
  width: 100%;
  height: 14.4rem;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.flipcard.is-flipped {
  transform: rotateY(180deg);
}

.flipcard__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  backface-visibility: hidden;
}

.flipcard__face--front {
  background: green;
  display: flex;
  flex-direction: column;
}

.flipcard__face--back {
  background: blue;
  transform: rotateY(180deg);
}
